/(NEW) Template Presentasi UGM 1.pptx
/Adrianto 2021 - Assessing the development of performance audit methodology in the supreme audit institution.pdf
/A_Blockchain-Enabled_Deduplicatable_Data_Auditing_Mechanism_for_Network_Storage_Services.pdf
/A_Proxy-Authorized_Public_Auditing_Scheme_for_Cyber-Medical_Systems_Using_AI-IoT.pdf
/A_SIFT-Based_Forensic_Method_for_CopyMove_Attack_Detection_and_Transformation_Recovery.pdf
/Biometrics_a_tool_for_information_security.pdf
/Enabling_Efficient_User_Revocation_in_Identity-Based_Cloud_Storage_Auditing_for_Shared_Big_Data.pdf
/Manajemen dan Audit SI UGM - Anjar Priandoyo.pdf
/MIT(CS)-202.pdf
/Rangkuman Video dan Paper Audit Forensik Digital - I GUSTI AGUNG PREMANANDA.docx
/Rangkuman Video dan Paper Audit Forensik Digital - I GUSTI AGUNG PREMANANDA.pdf
/Risk Communication - 2013 - Lundgren.pdf
/Statistical_Method_of_Social_Audit_Risk_Based_on_Machine_Learning_in_the_Context_of_Big_Data.pdf
/Tugas Audit Forensik Digital - Rangkuman Video - I GUSTI AGUNG PREMANANDA.docx
/Tugas Audit Forensik Digital - Rangkuman Video - I GUSTI AGUNG PREMANANDA.pdf